name: CI
on:
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          path: 'three-ts-types'
      - uses: actions/checkout@v5
        with:
          repository: 'DefinitelyTyped/DefinitelyTyped'
          path: 'DefinitelyTyped'
      - uses: pnpm/action-setup@v2
        with:
          version: 10.20.0
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - run: rsync -av --delete three-ts-types/types/three/ DefinitelyTyped/types/three
      - run: git add -A
        working-directory: 'DefinitelyTyped'
      - run: git config --global user.email "nbierema@gmail.com"
      - run: git config --global user.name "Nathan Bierema"
      - run: git commit -m "Changes"
        working-directory: 'DefinitelyTyped'
      - run: pnpm install --filter . --filter ...[HEAD^1]...
        working-directory: 'DefinitelyTyped'
      - run: pnpm run test-all --diffBase HEAD^1
        working-directory: 'DefinitelyTyped'
  check-fomatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v2
        with:
          version: 10.20.0
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run format-check
  type-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v2
        with:
          version: 10.20.0
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run type-check
  test-examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: pnpm/action-setup@v2
        with:
          version: 10.20.0
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run create-examples
        working-directory: examples-testing
      - run: git apply changes.patch
        working-directory: examples-testing
      - run: pnpm run type-check
        working-directory: examples-testing
      - run: pnpm run format-check
        working-directory: examples-testing
  test-src:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: pnpm/action-setup@v2
        with:
          version: 10.20.0
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run create-src
        working-directory: src-testing
      - run: git apply changes.patch
        working-directory: src-testing
      - run: pnpm run format-check
        working-directory: src-testing
      - run: pnpm run build-declarations
        working-directory: src-testing
        continue-on-error: true
      - run: pnpm run format-dprint
        working-directory: src-testing
      - run: pnpm run check-declarations
        working-directory: src-testing
  test-jsodc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: pnpm/action-setup@v2
        with:
          version: 10.20.0
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run build-declarations
        working-directory: jsdoc-testing
      - run: git apply changes.patch --allow-empty
        working-directory: jsdoc-testing
      - run: pnpm run format-dprint
        working-directory: jsdoc-testing
      - run: pnpm run check-declarations
        working-directory: jsdoc-testing
  test-tsl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: pnpm/action-setup@v2
        with:
          version: 10.20.0
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run type-check
        working-directory: tsl-testing
      - run: pnpm run format-check
        working-directory: tsl-testing
