name: CI
on:
    pull_request: {}

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: '12'

            # Get local dependencies
            - run: yarn install

            # Run tests
            - run: yarn run prettier:check
            - run: yarn run test-all
